
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/iadeDemoApp/css/album.css" rel="stylesheet">

    <title>Tutku Detection</title>
  </head>

  <body>
    
      <div class="jumbotron">
        <section class="jumbotron text-center">
          <h1 class="jumbotron-heading">Tutku Detection</h1>

{% block upload %}
          <div class="col-md-4">

            <ul>
              <a class="btn btn-primary my-2" href="{% url 'upload_image' %}">Upload Image</a>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="jumbotron-heading">Uploaded image:</h3>
            <ul>
              {% for upload in upload %}
                <img class="img-fluid" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="{{ upload.image.url }}" alt="IMAGE">
              {% endfor %}
            </ul>
          </div>
{% endblock %}
{% block prediction %}
          <div class="col-md-4">
            <ul>
              <a class="btn btn-primary my-2" href="{% url 'prediction' %}">Predict</a>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="jumbotron-heading">Predictions:</h3>
              <ul>
                {% for prediction in prediction %}
                  <h5 class="jumbotron-heading">Count: {{ prediction.count }}</h5>
                  <img class="img-fluid" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" src="{{ prediction.image.url }}" alt="PRED_IMAGE">
                {% endfor %}
              </ul>
          </div>
{% endblock %}
        </section>
      </div>
  </body>
</html>