
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/iadeDemoApp/css/album.css" rel="stylesheet">

    <title>Upload image</title>
  </head>

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <h4 class="text-black">{{ form.as_p }}</h4>
    <button type="submit" class="btn btn-primary my-2">Upload</button>
  </form>

  <p><a href="{% url 'home' %}" class="btn btn-secondary my-2">Return to home</a></p>
            </div>
    </section>
{% endblock %}